body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  text-align: center;
  font-family: "Quicksand", sans-serif;
  align-content: center;
}

.App {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
/* -------------------headings------------------- */

h1 {
  font-family: "sacramento", cursive;
}
.heading2 {
  font-weight: 300;
  font-size: 2em;
}

hr {
  border: 1px solid rgb(196, 194, 194);
  width: 40vh;
  margin-top: 10px;
}

.home__components {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* ------------------Landing page---------------- */
.navbar {
  align-items: center;
  background-color: rgba(250, 248, 248, 0);
  text-align: center;
  transition: background-color 0.5s ease-out;
}
.navbar.active {
  align-items: center;
  background-color: rgb(250, 248, 248);
  text-align: center;
}
.nav-link,
.pointer {
  cursor: pointer;
}
.landing-container {
  background-image: url("https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px;
  padding-top: 10%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  /* <span>Photo by <a href="https://unsplash.com/@benchaccounting?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Bench Accounting</a> on <a href="https://unsplash.com/s/photos/minimal?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
}

.landing-container > h1 {
  margin: 0 7%;
  font-size: 4rem;
  padding: 10% 10% 0;
}
.landing-container > Button {
  margin: 3% 1% 5%;
}
/* -----------ABOUT PAGE --------------- */

.about {
  text-align: center;
  padding: 5% 20% 2%;
  line-height: 2;
  background-color: rgb(250, 248, 248);
}
.profile-img {
  margin: 5% auto;
  max-width: 30vh;
}

/* ----------------WORKS---------------- */
#mySkills {
  background-color: rgb(250, 248, 248);
}

.skills__container {
  padding-top: 3%;
  width: 100%;
  box-shadow: 0 0 5px #ddd;
  background-color: rgb(216, 215, 215);
}
/* ---------WORKS------------- */
#works {
  width: 100%;
  padding: 10%;
  text-align: center;
}
/* ----------FOOTER---------- */

#contact {
  padding-top: 3%;
  width: 100%;
  text-align: center;
  background-color: rgb(48, 48, 48);
  color: white;
}
.contact-me {
  line-height: 2;
  margin-top: 2%;
}
.footer-link {
  color: #fff;
  margin: 50px 30px;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: white;
}
